<div class="container-fluid">
    <div class="row" style="padding: 0% !important;">
        <div class="col">
            <div class="card img-fluid" style="width:100%">
                <img class="card-img-top" src="assets/R.jpg" alt="Card image" style="width:100%">
                <div class="card-img-overlay" style="text-align: center;">
                    <h4 class="card-title">Avro</h4>
                    <p class="card-text">Tutorial for Apache Avro</p>
                    <a href="#" class="btn btn-info">Learn</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card img-fluid" style="width:100%;">
                <img class="card-img-top" src="assets/R.jpg" alt="Card image" style="width:100%">
                <div class="card-img-overlay" style="text-align: center; border-radius: 10px;">
                    <h4 class="card-title">Avro</h4>
                    <p class="card-text">Tutorial for Apache Avro</p>
                    <a href="#" class="btn btn-info">Learn</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card img-fluid" style="width:100%">
                <img class="card-img-top" src="assets/R.jpg" alt="Card image" style="width:100%">
                <div class="card-img-overlay" style="text-align: center;">
                    <h4 class="card-title">Avro</h4>
                    <p class="card-text">Tutorial for Apache Avro</p>
                    <a href="#" class="btn btn-info">Learn</a>
                </div>
            </div>
        </div>
    </div>

</div>